@width: 0.5;
@vertical_offset: 5px;

body{
  background-color: white;
  margin: 0 auto;
}

#app-body{

}

#nav-bar{

  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;

  border-bottom: 1px solid light-grey;
  -webkit-box-shadow:0px 0.25rem 0.75rem rgba(0, 0, 0, .05);
  -moz-box-shadow:0px 0.25rem 0.75rem rgba(0, 0, 0, .05);
  box-shadow:0px 0.25rem 0.75rem rgba(0, 0, 0, .05);

  padding:10px;

  h1{
    display: inline-block;
  }

  #nav-data{
    display: inline-block;
    float: right;
    margin-top:15px;

    ul {
      display: inline-block;
      list-style: none;

      li {
        padding: 30px;
        // border: 2px solid black;
        display: inline;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

twitterwidget{
  cursor: not-allowed;
}

#app-main{
  display: grid;

  #app-boxes{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .box{
      margin:100px;
      height:100px;
      width:100px;
      background-color: black;
    }
  }

  #home-view{
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    #map-options{
      position: absolute;
        z-index: 2;
        left: 50%;
        top: 10%;
    }

    .panel-moving{
      position: absolute;
      z-index: 1;
      margin: 0px;
      padding: 0px;
      background-color: black;
      overflow: scroll;
    }

    .panel {
      height: 90%;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      margin:20px;
      top: 0;
      position: absolute;
      z-index: 1;

      .panel-title{
        position: relative;
        z-index: 2;
      }
    }

    .panel-items {
      position: relative;
      height: 90%;
      overflow: scroll;
    }

    #panel-twitter-items{
      background-color: rgba(0, 0, 0, 0);
      height: 85%;
      .tweet-container:hover{
        margin-left: 10px;
        box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2);
      }
      .tweet-container-selected{
        margin-left: 10px;
        box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2);
      }
    }

    #panel-twitter{
      left:0;

      background-color: rgb(71,160,234);
      // background-color: rgba(0, 0, 0, 0);

    }

    #panel-right{
      right:0;
      background-color: rgba(0, 0, 0, .5);
    }
  }
}
