@width: 0.5;
@vertical_offset: 5px;

body{
  background-color: white;
  margin: 0 auto;
}

#app-body{

}

#nav-bar{
  
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;

  border-bottom: 1px solid light-grey;
  -webkit-box-shadow:0px 0.25rem 0.75rem rgba(0, 0, 0, .05);
  -moz-box-shadow:0px 0.25rem 0.75rem rgba(0, 0, 0, .05);
  box-shadow:0px 0.25rem 0.75rem rgba(0, 0, 0, .05);

  padding:10px;

  h1{
    display: inline-block;
  }

  #nav-data{
    display: inline-block;
    float: right;
    margin-top:15px;

    ul {
      display: inline-block;
      list-style: none;

      li {
        padding: 30px;
        // border: 2px solid black;
        display: inline;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

#app-main{
  display: grid;

  #app-boxes{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .box{
      margin:100px;
      height:100px;
      width:100px;
      background-color: black;
    }
  }

  #tweet-holder{
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    #tweet-holder-left{
      height: 90%;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      margin:20px;
      left:0;
      top: 0;
      bottom: 20px;
      position: fixed;
      overflow: scroll;
      z-index: 1;
    }

    #tweet-holder-right{
      height: 90%;
      background-color: black;
      padding: 10px;
      border-radius: 10px;
      margin:20px;
      right:0;
      top: 0;
      position: fixed;
      overflow: scroll;
      z-index: 1;
    }
  }
}
