body {
  background-color: white;
  margin: 0 auto;
}
#nav-bar {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  border-bottom: 1px solid light-grey;
  -webkit-box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  padding: 10px;
}
#nav-bar h1 {
  display: inline-block;
}
#nav-bar #nav-data {
  display: inline-block;
  float: right;
  margin-top: 15px;
}
#nav-bar #nav-data ul {
  display: inline-block;
  list-style: none;
}
#nav-bar #nav-data ul li {
  padding: 30px;
  display: inline;
}
#nav-bar #nav-data ul li:hover {
  text-decoration: underline;
}
twitterwidget {
  cursor: not-allowed;
}
#app-main {
  display: grid;
}
#app-main #app-boxes {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#app-main #app-boxes .box {
  margin: 100px;
  height: 100px;
  width: 100px;
  background-color: black;
}
#app-main #home-view {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
#app-main #home-view #map-options {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 10%;
}
#app-main #home-view .panel-moving {
  position: absolute;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow: scroll;
}
#app-main #home-view .panel {
  height: 90%;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  top: 0;
  position: absolute;
  z-index: 1;
}
#app-main #home-view .panel .panel-title {
  position: relative;
  z-index: 2;
}
#app-main #home-view .panel-items {
  position: relative;
  height: 90%;
  overflow: scroll;
}
#app-main #home-view #panel-instagram-items {
  display: grid;
  height: 85%;
}
#app-main #home-view #panel-twitter-items {
  background-color: rgba(0, 0, 0, 0);
  height: 85%;
}
#app-main #home-view #panel-twitter-items .tweet-container:hover {
  margin-left: 10px;
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-main #home-view #panel-twitter-items .tweet-container-selected {
  margin-left: 10px;
  box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.2);
}
#app-main #home-view #panel-twitter {
  left: 0;
  background-color: #47a0ea;
}
#app-main #home-view #panel-instagram {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
